.btnContainer {
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.btn {
    background: none;
    border: none;
    color: #FFFFFF;
    margin: 0.5rem;
    padding: 0;
}

.btn:hover {
    border-bottom: 1px solid #FFFFFF;
}